/* .sellOnMedideals {
  background-color: #fff;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #072791;
  padding-right: 100px;
}

@media only screen and (max-width: 600px) {
  .sellOnMedideals {
    display: none;
  }
} */

/* .dealsOfTheDay{
  background-color: #fff;
  margin-bottom: 0px;
  padding-left: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #072791;
} */

/* .noShadow {
  box-shadow: none !important;
}

.phone {
  color: #878787;
}

.navbar--hidden {
  top: -50px;
} */

/* .signInPadding{
  padding-left: 24% !important;
} */

/* .list-inline .signInPadding {
  margin-left: 25px;
}

.secondaryHeaderMain {
  width: 100% !important;
  display: flex; 
  background-color: #fff;
}

@media only screen and (min-width: 1400px) {
  .secondaryHeaderWrapper .secondaryHeaderMain {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100% !important;

  }
}

.scrollBehavior{
  scroll-behavior: smooth;
}

.secondaryHeaderWrapper{
  align-content: center;
} */