<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- dependencies (jquery, handlebars and bootstrap) -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
    <!-- alpaca -->
    <link type="text/css" href="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.js"></script>
  </head>
  <body>
    <div id="form1"></div>
    <script type="text/javascript">
    let user = '<%- JSON.stringify(user) %>';
    user = JSON.parse(user);
    let userData = '<%- JSON.stringify(userData) %>';
    userData = JSON.parse(userData);
      $("#form1").alpaca({
        "dataSource": userData,
        "optionsSource" : {
          "form":{
                "attributes":{
                    "action":`/users/editUser/${userData._id}`,
                    "method":"post"
                },
                "buttons":{
                    "submit":{}
                }
            }
        },
        "schemaSource": {
          "type": "object",
          "properties": user
        }
      });
    </script>
  </body>
</html>
