<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <h1>Redirecting...</h1>
</body>
<script>
function myFunction() {
  location.replace("http://localhost:4002")
}
</script>
</html>