.listMaxWidth{
    max-width: 236px;
    width: 165px;
}
.finalPrice .MuiListItemText-primary{
    color: green;

}

/* .orderScroll{
    height: 770px; 
    overflow-x: hidden; 
    overflow-x: auto; 
} */