<!DOCTYPE html>
<html>

<head>
  <title>Manifest</title>
  <style>
body {
  /* padding-left: 20px;
  padding-right: 20px; */
  font: 14px 'Epilogue', sans-serif;
  width: 700px;
}
.parent{
  border: black solid 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
a {
  color: #00B7FF;
}
.block1{
  display: flex;
}
.column {
  width: 20%;
  padding-left: 3px;
  padding-top: 7px;
}
img{
  width: 100%;
}
.column1 {
  /* float: right; */
  width: 48%;
  font-size: x-large;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 800;
  text-align: end;
  padding-left: 10px;
}
.title1{
  font-size: xx-large;
  font-weight: 800;
  padding-top: 3px;
  margin-bottom: 0px;
}
.title2{
  font-size: small;
  font-weight: 800;
  padding-top: 3px;
  margin-top: 3px;
}
hr { 
      overflow: hidden;
      width: 100%;
      border: 1px solid black;
      border-width: 1px;
}
.table{
  width: 100%;
  border-collapse: collapse;
  /* padding-left: 10px;
  padding-right: 10px; */
}
td{
  text-align:center;
}
.row-flex{
  width: 100%;
  display: flex;
}
.row-flex2{
  width: 100%;
  display: flex;
  height: 200px;
  padding-bottom: 10px;
}
/* .left{
  text-align: initial;
  border-bottom: 2px solid black;
  padding-left: 5px;
} */
.leftb1{
  text-align: initial;
  padding-left: 35px;
}
.leftb2{
  text-align: initial;
  padding-left: 5px;
}
.rightb2{
  padding-right: 5px;
}
.column2-1 {
  width: 48%;
  margin-top: auto;
  padding-left: 5px;
}
.column2-2 {
  width: 48%;
  font-size: larger;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 800;
  text-align: center;
}
.small{
  font-size: 13px;
  text-align: left;
}
.smallr{
  font-size: 13px;
  text-align: right;
}
.column1-1{
  text-align: center;
  margin-left: 30px;
}
.left{
  text-align: left;
}
</style>
</head>
<body>
  <div class='parent'>
    <!-- Block 1 -->
    <div class='row-flex'>
      <div class='column'>
        <img src="https://s3.ap-south-1.amazonaws.com/medideals.assets/newlogo.png" alt="logo" class="logo">
      </div>
      <div class='column1'>
        <div class='column1-1'>Pick-up Manifest</div> 
      </div>
    </div>
  <hr/>
    <!-- Block 2 -->
    <table class='table'>
      <tr>
        <th class='leftb2'>Seller Name: <%= sellerName %></th>
        <th class='leftb2'>Date: <%= manifestDate %></th>
      </tr>
      <tr>
        <th class='leftb2'><span style="padding-right: 30px;">Seller Id</span>: <%= sellerId %></th>
        <th class='leftb2'></th>
      </tr>
    </table>
  <hr/>
  <!-- Block 3 -->
  
  <table class='table'>
    <tr>
      <th style="padding-left: 3px;text-align: left;">S.no</th>
      <th class='left'>Order ID</th>
      <th class='left'>Buyer</th>
      <th class='left'>Seller Inv</th>
      <th style="text-align: right;">Order Val</th>
      <th style="text-align: center;">Payment</th>
      <th class='left'>Awb</th>
    </tr>
    <% orderArr.forEach(function(order,index){ %>
      <% var i = index +1; 
      var type = order.isBulk === true ? 'Bulk Prepaid' : order.paymentType == 'Online' ? 'Prepaid' : order.paymentType;
      const toTitleCase = (data) => {
        return data
          .toLowerCase()
          .split(' ')
          .map(word => word.charAt(0).toUpperCase() + word.slice(1))
          .join(' ');
      }; %>
      <tr>
        <td style="font-size: 13px;"><%- i %>.</td>
        <td class='small'><%- order.order_id %></td>
        <td class='small'><%- toTitleCase(order.user_id.company_name) %></td>
        <td class='small'><%- order.seller_invoice %></td>
        <td class='smallr'><%- (order.total_amount).toLocaleString('en-IN',{minimumFractionDigits: 2, maximumFractionDigits: 2}) %></td>
        <td style="text-align: center;"><%- type %></td>
        <td class='small'><%- order.shipment_id %></td>
      </tr>
    <% }) %>
  </table>
  <hr/>
  <!-- Block 4 -->
  <table class='table' style="min-height: 50px;">
  <tr>
    <!-- <th> -->
      <td style='text-align: left;padding-left: 3px;'>Name:&nbsp;<%= name %><br/>
      Phone No:&nbsp;<%= phone %></td>
    <!-- </th>  -->
    <th style='padding-top: 24px;'>Sign</th>
  </tr>
  </table>
  </div>
</body>

</html>