<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- <link rel='stylesheet' href='/stylesheets/orderMail.css' type="text/css"/> -->
  <style>
body {
  padding-left: 20px;
  padding-right: 20px;
  font: 14px 'Epilogue', sans-serif;
}

a {
  color: #00B7FF;
}
* {
  box-sizing: border-box;
}
.parent{
  /* width: 650px; */
  /*<- height: 1200px;  */
  /* position: relative; */
  /* border: gray 2px solid;  <- */
  /*border-radius: 8px; <- */
  /* padding-left: 20px;
  padding-right: 20px; */
  padding:1px
}
.logo{
  height: 45px;
  width: 160px;
  margin-bottom: -5px;
}
.title1{
  font-size: medium;
  font-weight: 800;
  padding-top: 3px;
  margin-bottom: 0px;
}
.title2{
  font-size: small;
  font-weight: 800;
  padding-top: 3px;
  margin-top: 3px;
}
.title3{
  padding: 10px;
  font-weight: 600;
  text-align: center;
  background-color: lightgrey;
  margin-bottom: 0px;
  margin-top: 0px;
}
.block2{
  font-weight: 600;
  padding: 0px 10px 10px 10px;
  margin-top: 0px;
  text-align: center;
  background-color: lightgrey;
}
.block2-1{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: larger;
  font-weight: 600;
}
.block2-2{
  width: 100%;
}
.innerblock2-2{
  display: inline-block; 
  width: 48%;
  margin: 0px 0px 5px 10px;
}
.b2-2span{
  margin: 0px 10px 5px 0px;
  display: inline-block; 
  width: 48%;
  text-align-last: right;
  font-weight: 600;
}
.b2p{
  font-weight: 600;
}
.b3p{
  font-size: large;
  font-weight: 600;
}
.b3s{
  margin: 0px 10px 5px 0px;
  display: inline-block; 
  width: 48%;
  font-size: large;
  text-align-last: right;
  font-weight: 600;
}
.block2-3{
  font-size: larger;
  margin: 0px 0px 0px 10px;
  font-weight: 600;
  margin-top: 0px;
  padding-bottom: 10px;
}
.block3{
  width: 100%;
}
.block3-1{
  font-size: x-large;
  font-weight: 600;
  margin: 10px 0px 5px 0px;
  text-align: center;
}
.inneraddress {
      /* text-align: center; */
      width: 100%;
      padding: 5px;
      font-size:medium ;
}
.b2top{
  font-size: medium;
  font-weight: 600;
  text-align: center;
  width: 40%;
}
.b2top2{
  font-size: medium;
  font-weight: 600;
  text-align: center;
  width: 40%;
}
.block5{
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
.b5span{
  padding-bottom: 4px; 
}
hr { 
      overflow: hidden;
      border: 1px solid rgb(167, 166, 166);
      border-width: 1px;
      width: 90%;
      /* display: block; */
}
.column {
  float: left;
  width: 50%;
  padding: 0px 10px 5px 20px
}
.column1 {
  float: left;
  width: 50%;
  text-align: end;
  padding: 0px 20px 5px 10px;
}
table{
  width: 100%;
  border: 0px;
  /* padding-left: 10px;
  padding-right: 10px; */
}
th{
  border: 0px;
}
td{
  border: 0px;
}
.prodleft{
  text-align: initial;
  padding-left: 20px;
}
.prodright{
  text-align: end;
  padding-right: 20px;
  font-weight: 600;
}
.billingBuyer{
  text-align: center;
  padding-left: 20px;
  width: 40%;
}
.shippingSeller{
  text-align: center;
  width: 40%;
  padding-right: 20px;
}
  </style>
</head>
<body>
  <div class='parent'>
    <!-- new -->
    <div class='row'>
      <div class='column'>
          <div class='title1'>Shipping Confirmation </div>
          <div class='title2'>Order No - <%= order_id %> </div>  
      </div>
      <div class='column1'>
          <img src="https://s3.ap-south-1.amazonaws.com/medideals.assets/newlogo.png" alt="logo" class="logo">
      </div>
    </div>
    <!-- banner img -->
    <div >
      <a href="https://medideals.in/#/buyers/search-results/search=&company=&seller=&discount="
      target="_blank">
        <img src="https://s3.ap-south-1.amazonaws.com/medideals.assets/banner_placeholder.jpeg" alt="banner" class="banner" width= "100%" height= "auto">
      </a>
    </div>
    <!-- Block-2 -->
    <h2 class='title3'>ORDER CONFIRMATION</h2>
    <p class='block2'><%= name %>, <%= orderTitle %></br>
      <%= orderTitle2 %>
    </p>
    <!-- <hr /> -->
    <!-- Block-2.1 -->
    <div class='block2-1'>Order Summary</div>
     <div class='block2-1'> <%= date %> </div>
    
    <hr />
    <!-- prod -->
    <% product.forEach(function(product){ %>
      <!-- for disc type % -->
      <% if( product.discount_per > 0 ) 
      { var disc = ( product.discount_per/100 ) * product.PTR;
          var priceAfterDisc = product.PTR - disc ;
          var gst = ( product.GST/100 ).toFixed(2) * ( priceAfterDisc ).toFixed(2);
          var price = ( priceAfterDisc + gst ).toFixed(2);
          var subTotal = ( price * product.quantity ).toFixed(2) 
      } else{
        var gst = ( product.GST/100 ).toFixed(2) * ( product.PTR ).toFixed(2)
        var price = ( product.PTR + gst ).toFixed(2) ;
        var subTotal = ( price * product.quantity ).toFixed(2)
      }%>
    <table>
      <tr>
        <th class='prodleft'>Product Name :</th>
        <td class='prodright'><%= product.name %></td>
      </tr>

      <tr>
        <th class='prodleft'>Offer :</th>
        <% if( product.discount_per > 0 ){ %>
              <td class='prodright'><%= product.discount_per %>&#37; off</td>
        <% }else if( product.discount_on_product === undefined  ) { %>
          <td class='prodright'> None </td>      
        <% }else { %>
              <td class='prodright'> Get <%= product.discount_on_product.bonus %> <%= (product.discount_on_product.name) %> free</td>
        <% } %>  
      </tr>

      <tr>
        <th class='prodleft'>PTR :</th> 
        <td class='prodright'><%= product.PTR %></td>  
      </tr>

      <tr>
        <th class='prodleft'>GST :</th>  
        <td class='prodright'><%= product.GST %> &#37;</td>  
      </tr>

      <tr>
        <th class='prodleft'>Quantity :</th>
        <td class='prodright'><%= product.quantity %></td>
      </tr>

      <tr>
        <th class='prodleft'>Price per unit :</th> 
        <td class='prodright'><%- price %></td>
      </tr>

      <tr>
        <th class='prodleft'>Sub Total :</th>
        <td class='prodright'><%- subTotal %></td>
      </tr> 
    </table>

    <hr />
    <% }) %>
    <!-- <hr /> -->
    <!-- Block-2.3 -->
    <div class='row'>
      <div class='column'>
        <h2>
          Total Price:
        </h2>
      </div>
      <div class='column1'>
        <h2>
          &#x20B9;<%= totalAmt %> /-
        </h2>
      </div>
    </div>
    <!-- <hr /> -->
    <!-- Block-3 -->
    <div class='block3-1'>Billing and Shipping</div>
      <table >
        <tr >
          <th class='billingBuyer'>Billing</th>
          <th class='shippingSeller'>Shipping</th>
        </tr>
        <tr >
          <th class='billingBuyer'><%= buyerComp %></th>
          <th class='shippingSeller'><%= sellerComp %></th>
        </tr>
        <tr >
          <th class='billingBuyer'><%= buyerCity %></th>
          <th class='shippingSeller'> <%= sellerCity %></th>
        </tr>
        <tr >
          <th class='billingBuyer'><%= buyerPin %></th>
          <th class='shippingSeller'><%= sellerPin %></th>
        </tr>
        <tr >
          <th class='billingBuyer'><%= buyerAddr %></th>
          <th class='shippingSeller'><%= sellerAddr %></th>
        </tr>
        <tr >
          <th class='billingBuyer'>MOBILE NO. : <%= buyerPhone %></th>
          <th class='shippingSeller'>MOBILE NO. : <%= sellerPhone %></th>
        </tr>
  </table>
</body>

</html>