<!DOCTYPE html>
<html>

<head>
  <title>Redirect</title>
  <script>
    function myFunction() {
        setTimeout(()=>{
            location.replace("https://medideals-web.infiny.dev/#/buyers/MyCart")
        },600)
      
    }
    </script>
</head>

<body onload="myFunction()">
  <h1>Redirecting...</h1>
  
</body>

</html>