<!DOCTYPE html>
<html>

<head>
  <title>Remittance</title>
  <style>
body {
  /* padding-left: 20px;
  padding-right: 20px; */
  font: 14px 'Epilogue', sans-serif;
  width: 850px;
}
.parent{
  border: black solid 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
a {
  color: #00B7FF;
}
.block1{
  display: flex;
}
.column {
  width: 30%;
  padding-left: 2px;
}
img{
  width: 100%;
}
.column1 {
  width: 70%;
  font-size: smaller;
  font-weight: 700;
  text-align: start;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 242px;
  /* margin-left: -34px; */
}
.title1{
  font-size: xx-large;
  font-weight: 800;
  padding-top: 3px;
  margin-bottom: 0px;
}
.title2{
  font-size: small;
  font-weight: 800;
  padding-top: 3px;
  margin-top: 3px;
}
hr { 
      overflow: hidden;
      width: 100%;
      border: 1px solid black;
      border-width: 1px;
}
.hr2{
  height:1px;
  border:none;
  color:#333;
  background-color:#333;
  margin: 0px;
}
.table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 2em;
  /* padding-left: 10px;
  padding-right: 10px; */
}
td{
  text-align:center;
  padding:0 5px;
}
.row-flex{
  width: 100%;
  display: flex;
}
.row-flex2{
  width: 99%;
  display: flex;
  height: 200px;
  padding: 0px 5px 10px 5px;
  flex-direction: column-reverse;
}
.left{
  text-align: initial;
  border-bottom: 1px solid #333;
  padding-left: 5px;
}
.left1{
  text-align: initial;
  border-bottom: 2px solid black;
  padding-left: 25px;
}
.left11{
  text-align: initial;
  border-bottom: 1px solid #333;
  /* height:1px;border:none;color;background-color:#333;" */
  padding-left: 25px;
  font-weight: 500;
  font-size: 12px;
}
.left2{
  text-align: initial;
  border-bottom: 1px solid #333;
  padding-left: 5px;
  font-weight: 500;
  font-size: 12px;
}
.leftb2{
  text-align: right;
  padding-left: 5px;
}
.rightb2{
  padding-right: 5px;
  text-align: right;
}
/* .column2-1 { */
  /* width: 28%; */
  /* margin-top: auto; */
  /* padding-left: 5px; */
/* } */
.column2-2 {
  /* width: 48%; */
  font-size: larger;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 800;
  text-align: center;
}
.small{
  font-size: 10px;
}
.small1{
  font-size: 10px;
  text-align: right;
}
.small1p{
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
}
.small12{
  font-size: 10px;
  text-align: right;
}
.startTable{
  text-align: initial;
  padding-left: 5px;
  width: 48%;
  font-size: medium;
  font-weight: 600;
}
.startTable1{
  text-align: initial;
  padding-left: 5px;
  width: 48%;
  font-size: small;
  font-weight: 500;
}
.startTable1C{
  text-align: initial;
  padding-left: 5px;
  width: 48%;
  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
}
.columnDate{
  font-weight: 400;
}
</style>
</head>
<body>
  <%
    const toTitleCase = (data) => {
      return data
        .toLowerCase()
        .split(' ')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
    };
  %>
  <div class='parent'>
    <!-- Block 1 --> 
    <div class='row' style="text-align: center;font-size: large;font-weight: 800;margin-top: 5px;">
        Remittance Advice
    </div>
    <hr/>
    <div class='row-flex'>
      <div class='column'>
        <img src="https://s3.ap-south-1.amazonaws.com/medideals.assets/newlogo.png" alt="logo" class="logo">
      </div>
      <div class='column1'>
        <div>
          Reference: MNY/<%= sellerId %>/<%= monthYear %>/<%= remittanceId %>
        </div>
        <div class='columnDate'>
          Date: <%- new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'short', day: '2-digit'}).format(new Date(paymentDate)) %>
        </div>
      </div>
    </div>
    <table class='table'>
        <tr>
          <th class='startTable'>Felicitas Digitech Private Limited</th>
          <th class='startTable1'>CIN: U52100MH2019PTC331462</th>
        </tr> 
        <tr>
          <th class='startTable1'>Office No. 511, 5th Floor, Opal Square, Wagle Industrial Estate,</th>
          <th class='startTable1'>GSTIN: 27AADCF8756C1ZJ</th>
        </tr>
        <tr>
          <th class='startTable1'>Thane - 400 604, MH</th>
          <th class='startTable1'>PAN: AADCF8756C</th>
        </tr>
        <tr>
          <th class='startTable1'>Email: support@medimny.com</th>
          <th class='startTable1'>Bank: ICICI Bank, Wagle Estate Branch</th>
        </tr>
        <tr>
          <th class='startTable1'>Phone: +91 93219 27004</th>
          <th class='startTable1'>Account No.  188705001916</th>
        </tr>
        <tr>
        </table>
  <hr/>
  <!-- Block 2 -->
  <table class='table'>
    <tr>
      <th class='startTable'>Seller:&nbsp;<%= sellerName %></th>
      <th class='startTable1'></th>
    </tr> 
    <tr>
      <th class='startTable1'><%= toTitleCase(sellerAdd) %>&nbsp;</th>
      <th class='startTable1C'>GSTIN:&nbsp;<%= sellerGst %></th>
    </tr>
    <tr>
      <th class='startTable1'><%=sellerCity%>,&nbsp;<%= sellerState %>,&nbsp;<%= sellerC %></th>
      <th class='startTable1C'>IFSC:&nbsp;<%= sellerIfsc %> </th>
    </tr>
    <tr>
      <th class='startTable1'><%= sellerPincode %></th>
      <th class='startTable1'>Account No.&nbsp;<%= sellerAcc %></th>
    </tr>
    <tr>
      <th class='startTable1'>Email:&nbsp;<%= sellerEmail %></th>
      <th class='startTable1'>Phone:&nbsp;<%= sellerPhone %></th>
    </tr>
    <tr>
    </table>
<hr/>
    <!-- Block 2 -->
    <!-- <table class='table'>
      <tr>
        <th class='leftb2'>Seller Name: <%= sellerName %></th>
        <th class='leftb2'>Date: <%= paymentDate %></th>
      </tr>
      <tr>
        <th class='leftb2'>Seller Id: <%= sellerId %></th>
        <th class='leftb2'></th>
      </tr>
    </table>
  <hr/> -->
  <!-- Block 3 -->
  
  <table class='table'>
    <tr>
      <th class='leftb2'>S.no</th>
      <th style='text-align: right;'>Order Date</th>
      <th>Order Id</th>
      <th>Seller Inv.</th>
      <th style='text-align: left;'>Buyer</th>
      <th style='text-align: right;'>Order Value</th>
      <th style='text-align: right;'>Comm. Rate</th>
      <th class='rightb2'>Comm. Amt</th>
      <th class='rightb2'>Surchrg</th>
    </tr>
    <% settlements.forEach(function(settlement,index){ %>
    <% var orderD; %>
    <% 
     orderD = new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'short', day: '2-digit'}).format(new Date(settlement.order.createdAt));
    %>
  <%  
    var commPer = (settlement.commission/settlement.order_value * 100).toFixed(2);
    var orderId = settlement.order.order_id;
    var sellerIn = settlement.order.seller_invoice;
    var buyerN = settlement.buyer.company_name; 
    var orderVal = (settlement.order_value).toLocaleString('en-IN',{minimumFractionDigits: 2, maximumFractionDigits: 2}); 
    var commAmount = (settlement.commission).toLocaleString('en-IN',{minimumFractionDigits: 2, maximumFractionDigits: 2});
    var surcharge = settlement.commission_comp && settlement.commission_comp.prod_surge_comm ?
    (settlement.commission_comp.prod_surge_comm).toLocaleString('en-IN',{minimumFractionDigits: 2,maximumFractionDigits: 2}) : 0 
    var i = index +1;
   %>
    <tr>
      <td class='small12'><%- i %>.</td>
      <td class='small12'><%- orderD %></td>
      <td class='small12'><%- orderId %></td>
      <td class='small'><%- sellerIn %></td>
      <td style='text-align: left;font-size: 11px;text-transform: capitalize;'><%-toTitleCase(buyerN)%></td>
      <td class='small1'><%- orderVal %></td>
      <td class='small1'><%- commPer %>%</td>
      <td class='small1p'><%- commAmount %></td>
      <td class='small1p'><%- surcharge %></td>
    </tr>
  <% }) %>
  </table>
  <hr />
  <div class='row' style="min-height: 10px;"></div>
  <hr class='hr2'/>
  <!-- bLOCK 4 -->
  <table class='table'>
    <tr>
      <th class='left'>Total Order Value</th>
      <th class='left'><%= orderValue %></th>
    </tr> 
    <tr>
      <th class='left11'>Less: RTO / Other Charges</th>
      <th class='left2'><%= otherCharges %></th>
    </tr>
    <tr>
      <th class='left11'>GST on Other Charges</th>
      <th class='left2'><%= gstOnOthercharges %></th>
    </tr>
    <tr>
      <th class='left11'>TCS @ <%= tcsPer %>%</th>
      <th class='left2'><%= tcs %></th>
    </tr>
    <tr>
      <th class='left11'>TDS @ <%= tdsPer %>%</th>
      <th class='left2'><%= tds %></th>
    </tr>
    <tr>
      <th class='left11'>Commission Charges</th>
      <th class='left2'><%= commAmt %></th>
    </tr>
    <tr>
      <th class='left11'>GST on Commission @<%= gst %>%</th>
      <th class='left2'><%= (Number(globalGst1)).toLocaleString('en-IN',{minimumFractionDigits: 2, maximumFractionDigits: 2}) %></th>
    </tr>
    <tr>
      <th class='left11'>Total Surcharge with GST @18%</th>
      <th class='left2'><%= totalProdSurge %></th>
    </tr>
    <% if( remittance > 0 ) { %> 
    <tr>
      <th class='left11'>Early Remittance Charge @<%= remittance %>%</th>
      <th class='left2'><%= remittanceVal %></th>
    </tr>
    <tr>
      <th class='left11'>GST on Early Remittance Charge @<%= gst %>%</th>
      <th class='left2'><%= gstOnRemittance %></th>
    </tr>
    <% } %>
    <tr>
      <th class='left'>Net Amount Remitted (rounded off)</th>
      <th class='left'><%= netAmt %></th>
    </tr>
    <% if(utrNo.length > 0){ %>
    <tr>
      <th class='left11'>UTR No.</th>
      <th class='left2'><%= utrNo %></th>
    </tr>
    <% } %>
  </table>
  <!-- Block 5 -->
  <div class='row-flex2'>
    <div class='column2-1'>
      <div >Notes:<br/>
        1. All amount mentioned in INR.
        <% if(remark.length > 1){ %>
        </br>
        2. <%= remark %>
        <% } %>   
      </div>
    </div>
    <div class='column2-2'>
      <div >FELICITAS DIGITECH PRIVATE LIMITED </div> 
    </div>
  </div>
  </div>
</body>

</html>