<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="<%= base_url %>/js/barcode.js"></script>
</head>
<style>
    .body {
        padding: 50px;
        /* font-size: small ; */
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .address {
        border: 2px solid black;
        height: 800px;
        width: 550px;
        position: relative;
    }

    .inneraddress {
        /* float:left; */
        display: inline-block;
        height: 110px;
        width: 230px;
        padding: 5px;
        font-size: small;
        position: relative;
    }

    .b2top {
        position: absolute;
        top: 0;
    }

    .secondblock {
        position: relative;
        padding-right: 10px;
        padding-left: 5px;
        margin-top: 5px;
    }

    .barcodeTwo2 {
        position: absolute;
        padding-top: 40px;
        /* font-weight: 400; */
    }

    #barcode2 {
        padding-left: 40px;
        padding-top: 10px;
        height: 100px;
        width: 400px;
    }

    #barcode1 {
        height: 50px;
        width: 200px;
    }

    hr {
        overflow: hidden;
        border: 2px solid black;
        border-width: 1px;
        /* display: block; */
    }

    .block {
        padding-bottom: 10px;
        /* position: relative; */
    }

    .block3 {
        padding: 0px 10px 0px 10px;
        position: relative;
    }

    #block3-1 {
        border: 1px solid black;
    }

    .block4 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    .b4span {
        font-size: small;
    }

    .b4spanf {
        font-size: small;
        float: right;

    }

    .b6spant {
        padding-left: 10px;
        padding-right: 10px;
    }

    table,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 10px;
        font-size: small;
    }

    th {
        border: 1px solid black;
        border-collapse: collapse;
        font-weight: 500;
        font-size: small;
    }

    .footer {
        position: absolute;
        bottom: 3%;
        width: 100%;
        font-size: small;
    }

    .footer2 {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        font-size: small;
    }

    .logo {
        position: absolute;
        height: 50px;
        right: 20px;
        top: 10px;
    }

    .table2 {
        width: 100%;
        border: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .billingBuyer {
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        width: 40%;
        border: 0px;
    }

    .shippingSeller {
        font-size: 12px;
        text-align: left;
        width: 40%;
        padding-right: 10px;
        border: 0px;
    }

    .billingBuyertop {
        font-size: small;
        text-align: left;
        padding-left: 10px;
        width: 40%;
        border: 0px;
        font-weight: bold;
    }

    .shippingSellertop {
        font-size: small;
        text-align: left;
        width: 40%;
        padding-right: 10px;
        border: 0px;
        font-weight: bold;
    }
</style>

<body onload="generateBarcode()">
    <div class="address">
        <!-- Block-1 -->
        <div class='secondblock'>
            <div class='barcodeOne'>
                <span style='padding-left: 5px; font-size: small;'>ORDER #: <%= order_id %></span><br />
                <img id="barcode1" />
                <img src="<%= base_url %>/images/logo.png" alt="logo" class="logo">

            </div>
        </div>
        <hr />
        <!-- Block-2 -->
        <table class='table2'>
            <tr>
                <th class='billingBuyertop'>DELIVER TO :</th>
                <th class='shippingSellertop'>SHIPPED By (<span style="font-size: 10px;">if undelivered return
                        to</span>):</th>
            </tr>
            <tr>
                <th class='billingBuyer'><%= buyerComp %></th>
                <th class='shippingSeller'><%= sellerComp %></th>
            </tr>
            <tr>
                <th class='billingBuyer'><%= buyerAddr %></th>
                <th class='shippingSeller'><%= sellerAddr %></th>
            </tr>
            <tr>
                <th class='billingBuyer'><%= buyerCity %></th>
                <th class='shippingSeller'> <%= sellerCity %></th>
            </tr>
            <tr>
                <th class='billingBuyer'><%= stateB %></th>
                <th class='shippingSeller'> <%= stateS %></th>
            </tr>
            <tr>
                <th class='billingBuyer'><%= buyerPin %></th>
                <th class='shippingSeller'><%= sellerPin %></th>
            </tr>
            <tr>
                <th class='billingBuyer'>MOBILE NO. : <%= buyerPhone %></th>
                <th class='shippingSeller'>MOBILE NO. : <%= sellerPhone %></th>
            </tr>
        </table>
        <hr />
        <!-- Block-3 -->
        <div class='block3'>
            <span style="float: left; font-size: 18px;font-weight: 600;"><%= serviceName %> AWB: <%= awbNo %></span>
            <span style='float: right;font-size: 18px;font-weight: 600;'><%= paymentType %>: ₹<%= totalAmt %>/-</span>

            <div class='barcodeTwo'>
                <div class='barcodeTwo2'></div>
                <div>
                    <img id="barcode2" />
                </div>
            </div>
        </div>
        <hr />
        <!-- Block-4 -->
        <div class='block4'>
            <span class='b4span'>SHIPMENT WEIGHT : <%= weight %> KG</span>
            <span class='b4span'>DIMENSIONS : <%= length %>x<%= breadth %>x<%= height %></span>

        </div>
        <!-- <hr /> -->
        <!-- Block-5 -->
        <div class='block3'>
            <!-- <span>TRK#</span>&nbsp;&nbsp;
        <span style='font-size: x-large;'>3904 2682 2910</span><br/>
        <span id='block3-1'>0305</span><br/>
        <span style='font-size: 15px;margin-top:10px ;'>COD AMOUNT 600.0INR</span>
        <span style='float: right;font-size: 20px;'>COD_RETURN</span> -->

            <!-- <div class='barcodeTwo'>
            
            <div class='barcodeTwo'><img id="barcode2"/>
            </div>
        </div> -->
        </div>
        <table style="width:100%">
            <tr>
                <th>SKU</th>
                <th>ITEM</th>
                <th>QTY</th>
            </tr>
            <tr>
                <td>Medimny</td>
                <td>Medicines</td>
                <td>1</td>
            </tr>
        </table>

        <!-- <hr /> -->
        <!-- Block-6 -->
        <div class='footer'>
            <!-- <span class='b6span'>Product Desc : TAZLOC H 80MG TABLET 10S</span><br/> -->
            <!-- <span class='b6span'>SKU : TAZLOC H 80MG TABLET 10S | QTY : 6 | Total : Rs. 600.00</span><br/> -->
            <span class='b6spant'>Invoice No : <%= invoiceNo %> </span></br>
            <span class='b6spant'> Invoice Date : <%= invoiceDate %></span><br />
            <span class='b6spant'>Gstin No : <%= gst %></span>
            <hr />
        </div>

        <div class='footer2'>
            <span class='b6span'>THIS IS AN AUTO-GENERATED LABEL AND DOES NOT NEED SIGNATURE</span>
        </div>
    </div>


</body>
<script>
    function generateBarcode(){
        // JsBarcode("#barcode1", '<%= order_id %>');
        // JsBarcode("#barcode2", "<%= awbNo %>");
    }
</script>

</html>