



.jumbotron {
    padding: 0;
    margin: 96px 0 10px;
}

.jumbotron--home {
    padding: 0;
}



.example {
    text-align: center;
}

.example__target {
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    text-align: center;
}

.example__target.example__target--basic {
    border-color: transparent;
}

.example__target:hover {
    border-color: #337ab7;
}

.example__instructions {
    margin-top: 10px;
    color: #337ab7;
}

.example__instructions--solo {
    margin-bottom: 10px;
}

.example__source-container {
    margin: 20px 0;
}

.example__source-css {
    margin-top: 15px;
}

.example__external-label {
    margin-top: 10px;
}

@media (min-width: 420px) {
    .jumbotron {
        margin-top: 51px;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        margin-top: 51px;
    }

    .example__source-container {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        margin-top: 97px;
    }
}
